/********************************** MENU *****************************************/
body{
    background-color:rgb(22, 20, 20);
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    flex-direction:unset;
    flex-wrap: wrap;
}
.main .btns{
    width: 300px;
    height: 300px;
    margin: 100px;
    font-size: 3rem;
    font-weight: bolder;
    border: 10px solid salmon;
    background-color: chartreuse;
    cursor: pointer;
}
/************************************** PLAY ****************************************/
.playGround{
    width: 50%;
    min-height: 600px;
    margin: 100px auto;
    border: 3px solid white;
}
.xoBtns{
    
    width: 33%;
    height: 200px;
    cursor: pointer;
    color: white;
    background-color: grey;
    font-size: 3rem;
    font-weight: bolder;
}
.player1{
    background-color: green;
}
.player2{
    background-color: red;
}
.win{
    background-color: yellow;
}